
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.digital-watch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: right;
  position: fixed;
  top: 20px;
  right: 20px;
}

.digital-watch__date {
  font-weight: bold;
  margin-bottom: 4px;
}

.digital-watch__time {
  font-size: 28px;
}
